#graph {
    height: 400px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    pointer-events: none;
  }

#graph * {
    pointer-events: none;
}

  .ct-point {
    pointer-events: all;
    cursor: pointer;
    transition: all .2s ease;
    transform-origin: center;
  }

  .ct-point:hover {
    stroke-width: 20px;
  }

  .ct-point.focus {
    stroke-width: 20px;
  }

  .ct-series .ct-line {
    fill : none;
    stroke-width: 2px;
  }

  .ct-label {
    color: rgba(255,255,255,.5);
    font-size: 10px;
  }

  .f-horizontal .ct-label {
    visibility: hidden;
  }

  .f-horizontal:nth-child(5n+1) .ct-label {
     visibility: visible;
  }  

  @media screen and (max-width: 500px) {

    .ct-horizontal, .f-horizontal .ct-label, .f-horizontal:nth-child(5n+1) .ct-label {

      visibility: hidden;

    }

    .f-horizontal:first-child .ct-label.ct-horizontal, .f-horizontal .ct-first, .f-horizontal .ct-last {

      visibility: visible!important;

    }

  }  

  .f-horizontal:hover .ct-label {
    visibility: visible;
    padding: 3px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    color: #000;
  }

  .f-horizontal_active .ct-label {
    background-color: #fff;
    visibility: visible;
    padding: 3px;
    border-radius: 3px;
    color: #000;
  }

  .f-horizontal {
    pointer-events: all!important;
    cursor: pointer;
    position: absolute;
  }

  .history-point {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: all!important;
    cursor: pointer;
    margin-top: 2px;
    transform-origin: center;
    box-shadow: 0px 4px 7px rgba(0,0,0,.8);
    transform:scale(1);
    translate: all .2s;
  }

  .history-point:hover {
    transform:scale(1.3);
    translate: all .2s;
  }  

  .history-group {
    position: fixed;
    display: flex;
    opacity: 0;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10px;
    bottom:20px;
    translate: all .2s;
  }

  .history-group_visible {
    opacity: 1;
    translate: all .2s;
  }


  .history-group_hidden {
    opacity: 0;
    translate: all .2s;
  }

  .f-horizontal {
    transform: translateX(-20px);
  }