@import "map.css" all; 
@import "loader.css" all;
@import "graph.css" all;
@import "sidebar.css" all;
@import "map-svg.css" all;

body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    background: #121519;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
}

#app {
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    position: absolute;
}

