.mapsvg-land-area {
    fill:none; 
    stroke: rgba(255,255,255,.8); 
    stroke-width:1px; 
    vector-effect: non-scaling-stroke; 
    stroke-dasharray:3px;
    fill-rule: nonzero;
}

.land-area {
    opacity: 0;
    transition: all 1s;
}

.land-area_visible {
    opacity: 1;
    transition: all .5s;
}

.mapsvg-land-area path {
    vector-effect: non-scaling-stroke; 
}