#map {
    width: 100vw;
    height: 100%;
    background: #121519;
}

.leaflet-tile-container {
    filter: sepia(1) hue-rotate(170deg) brightness(0.7);
}

.leaflet-container .leaflet-control-attribution {
    color: rgba(255,255,255,.5);
    background: hsla(0,0%,100%,.2);
    margin: 4px;
    border-radius: 3px;
    font-size: 11px;
    word-break: keep-all;
    white-space: nowrap;
}

.leaflet-control-attribution a {
    text-decoration: none;
    color: #fff;
}

.leaflet-bar {
    box-shadow: none;
}

.leaflet-bar a, .leaflet-bar a:hover {
    background: none;
    color: #fff;
    font-size: 32px;
    padding: 10px;
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: none;
    user-select: none;
}

.leaflet-disabled {
    background: none;
}

.leaflet-bar a.leaflet-control-play {
    font-size: 24px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaflet-bar a.leaflet-control-play span {
    background: url(../assets/icons.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0 -60px;
    transform-origin: center;
    transform: scale(1.4);
}

.leaflet-bar a.leaflet-control-play[data-state=play] {
    opacity: .5;
}

.leaflet-control-container {
    opacity: 0;
    transition: all .3s ease;
}

.leaflet-control-container_visible {
    opacity: 1;
    transition: all .3s ease;
}

.leaflet-control a:hover, .leaflet-control:foces {
    background: none;
}

.date-timer {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    pointer-events: none;
}

.leaflet-tile-pane {
    transition: all .3s;
}

.leaflet-bar a.leaflet-disabled {
    background: none;
    opacity: .5;
}

.place-marker {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-marker_visible {
    opacity: 1;
    pointer-events: all;
    translate: all .2s;
    cursor:pointer;
}

.place-marker__inner {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color:#fff;
    transform-origin: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 7px rgba(0,0,0,.8);
    transform:scale(1);
    translate: all .2s;
}

.place-marker__inner:hover {
    transform:scale(1.3);
    translate: all .2s;
}

.leaflet-popup-pane {
    position: absolute;
    top:0;
    left:0;
}

.leaflet-popup-content-wrapper {
    border-radius: 5px;
    overflow: hidden;
}

.place-cover {
    width: calc(100% + 40px);
    min-width: 250px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: -14px -20px 0 -20px;
}

.leaflet-container a.leaflet-popup-close-button {
    background-image: url(../assets/icons.svg);
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: transparent;
    background-position: 0px -40px;
    background-position: center;
    transform: translate(-3px, 3px) scale(0.8);
    user-select: none;
    transform-origin: center;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.leaflet-touch .leaflet-bar {
    border:none;
}


